.App {
  text-align: center;
}

.App-header {
  display: inline;
}

.App-header span {
  font-family: Seaweed Script;
  font-size: 30px;
  letter-spacing: 0.51em;
  color: #FF8A00;
  /*margin-bottom: 15px;*/
}

.App-logo {
  margin-top: 15px;
}

@font-face {
  font-family: 'Seaweed Script';
  src: local('SeaweedScript'), url(./fonts/SeaweedScript-Regular.ttf) format('truetype');
}
